@{
    ViewData["Title"] = "Home Page";
}


<h1>Juegos</h1>
<div class="contenido">
    <a asp-area="" asp-controller="Juegos" asp-action="HonkaiStarRail">
        <div class="subcontenido">
            <img src="~/img/honkaistarrail.jpg"/>
            Honkai Star Rail
        </div>
    </a>
    <a asp-area="" asp-controller="Juegos" asp-action="Priconne">
        <div class="subcontenido">
            <img src="~/img/pricone.jfif" />
            Princess Connect Re:dive
        </div>
            
    </a>
</div>
